// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "rk3588.dtsi"

/ {
	model = "Vicharak RK3588 Axon";
	compatible = "vicharak,rk3588-axon", "rockchip,rk3588";

	aliases {
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};
};

&uart2 {
	pinctrl-0 = <&uart2m0_xfer>;
	status = "okay";
};
